@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    height: 75px;
    width: auto;
}

.nav_btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav_btn {
    margin: 15px;
    background-color: #0e2776;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hero_background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 200px;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    height: 60%;
    width: 70%;
    background-color: #0e2776;
    color: white;
    padding: 30px;
    gap: 15%;
}

.hero_img {
    background-color: white;
    border-radius: 45px;
    height: 100%;
    padding: 10px;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-width: 200px;
}

.hero_subtitle {
    font-size: 20px;
    font-weight: 350;
}

.cards_container {
    display: flex;
    flex-direction: row;
    margin: 200px 200px;
    align-content: space-between;
    gap: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
    width: 25%;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    padding:2%;
}

.img_card {
    height: 20vh;
    padding: 10px;
    max-width: 50%;
    width: 100%;
    min-width: 75px;
}

.card_title{
    font-size: 20px;
    font-weight: 500;
}
.text_card{
    font-size: 15px;
    font-weight: 350;
}
